@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
   margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
}
body{
    
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: top; 
    min-height: 100vh;
    min-width: 100vh;
    background: linear-gradient(to left, #EF4F4F, #EE9595, #FFCDA3, #74C7B8);
    background-size:200%, 200% ;
    animation: colors 15s ease infinite;
   
}

#principal{
    width: 80%;
    
    
}
#menu{
    background:cornsilk;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
  
}
#menu a{
    color: #4b566a;
    text-decoration: none;
    padding-right: 9%;
    padding-left: 9%;
}
.cabecalho{
    
   
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text{

    align-items: center;
    width: 80%;
    border-right:  300px;
    justify-content: center;
    margin-left: 50%;
    
}
#divBusca{
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:10px;
    width:300px;
    height:32px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
  }
  
  #btnBusca{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#5F9EA0;
  }
  
  #divBusca img{
    float:left;
  }